<section class="comments">
  <hr/>
  <h5>Comments</h5>
  <% if comments.empty?%>
    <p>no comments yet</p>
  <% else%>
    <%comments.each do |comment|%>
    <div><strong>Commenter: </strong><%= comment.commenter%></div>
    <div><%= comment.body %></div>
    <%= link_to "Delete", [comment.article, comment], data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    }%>
    <%end%>
  <% end %>
</section>