

<main class="container py-5">
  <h2><%= @article.title %></h2>
  <p> <%= @article.body%></p>

  <%= render "comments/comment", comments: @article.comments%>
  
  <%= render "comments/form"%>
</main>